BasedOnStyle: llvm

ColumnLimit: 120

AccessModifierOffset: -4
IndentWidth: 4

BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma

AlignAfterOpenBracket: Align
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortFunctionsOnASingleLine: false
